body {
  font-family: "Fira Code", monospace;
  background-color: #1e1e1e;
  color: #d4d4d4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #007acc;
  padding: 10px;
  color: white;
  text-align: center;
}

.editor-container {
  display: flex;
  height: 90vh;
}

.sidebar {
  width: 15%;
  background-color: #252526;
  padding: 10px;
}

.editor {
  width: 85%;
  background-color: #1e1e1e;
  padding: 20px;
  overflow-y: auto;
  color: #d4d4d4;
}

.code {
  color: #d4d4d4;
  font-family: "Fira Code", monospace;
}

.keyword {
  color: #569cd6;
}

.variable {
  color: #9cdcfe;
}

.comment {
  color: #6a9955;
}

/* Highlighted Text Colors - Darker Equivalents */
.code-highlighted {
  color: #1e1e1e; /* Darker text for highlighted code */
}

.keyword-highlighted {
  color: #142949; /* Darker color for keywords */
}

.variable-highlighted {
  color: #314958; /* Darker color for variables */
}

.comment-highlighted {
  color: #223930; /* Darker color for comments */
}

.mouse-tracker {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  z-index: 9999; /* Make sure it's on top of other elements */
}
